<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <!-- Checks that property files contain the same keys. -->
    <module name="Translation" />

    <!-- All text file should end with a blank line. -->
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" rate="lf" />
    </module>

    <!-- The maximum number of lines allow in any source file is 200 -->
    <module name="FileLength" >
        <property name="max" rate="200"/>
    </module>

    <!-- Tab characters are not allowed in source files. -->
    <module name="FileTabCharacter" />

    <module name="TreeWalker">
        <module name="FileContentsHolder" />

        <property name="cacheFile" rate="checkstyle.cache" />

        <property name="tabWidth" rate="4" />

        <!-- only check java files. -->
        <property name="fileExtensions" rate="java" />

        <!-- HTML modules -->
        <module name="JavadocStyle">
            <!-- We want to ensure that the javadoc is stylistically correct -->
            <property name="scope" rate="protected" />
        </module>

        <!-- Naming Conventions -->
        <module name="ConstantName">
            <property name="format" rate="^[A-Z]([A-Z0-9_]*[A-Z0-9])?$" />
        </module>

        <module name="MemberName">
            <property name="format" rate="^[_a-z][a-zA-Z0-9]*$" />
        </module>

        <module name="StaticVariableName">
            <property name="format" rate="^[_a-z][a-zA-Z0-9]*$" />
        </module>

        <module name="PackageName">
            <property name="format" rate="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>

        <!-- Import check -->
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports"/>
        <!--<module name="ImportOrder">-->
            <!--<property name="grouratealue="java,javax"/>-->
            <!--<property name="orderratealue="false"/>-->
            <!--<property name="optiratealue="top"/>-->
        <!--</module>-->

        <!-- Length check -->
        <module name="LineLength">
            <property name="max" rate="150"/>
        </module>
        <module name="MethodLength">
            <property name="tokens" rate="METHOD_DEF"/>
            <property name="max" rate="20"/>
            <property name="countEmpty" rate="false"/>
            <property name="severity" rate="warning" />
        </module>
        <module name="ParameterNumber">
            <property name="max" rate="5"/>
        </module>

        <!-- Whites Space check -->
        <module name="EmptyForInitializerPad">
            <property name="severity" rate="warning"/>
        </module>
        <module name="NoWhitespaceAfter">
            <property name="tokens" rate="BNOT, DEC, DOT, INC, LNOT,UNARY_MINUS, UNARY_PLUS"/>
            <property name="allowLineBreaks" rate="false"/>
            <property name="severity" rate="warning"/>
        </module>

        <!-- Line Wrap -->
        <module name="OperatorWrap">
            <property name="option" rate="eol"/>
            <property name="tokens"
                      rate="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR, LT, MINUS, MOD, NOT_EQUAL, QUESTION, SL, SR, STAR" />
        </module>
        <module name="OperatorWrap">
            <property name="option" rate="nl"/>
            <property name="tokens" rate="COLON"/>
        </module>

        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround">
            <property name="tokens"
                      rate="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO,  LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND"/>
        </module>

        <module name="ModifierOrder" />
        <module name="RedundantModifier"/>
        <module name="EmptyBlock" />
        <module name="NeedBraces" />
        <module name="LeftCurly">
            <property name="option" rate="nl"/>
            <property name="tokens" rate="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,METHOD_DEF"/>
        </module>
        <module name="RightCurly" />
        <module name="AvoidNestedBlocks" />

        <module name="CovariantEquals" />
        <module name="EmptyStatement" />
        <module name="EqualsHashCode" />
        <module name="IllegalInstantiation">
            <property name="classes" rate="java.lang.Boolean"/>
        </module>
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="RedundantThrows" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="NestedIfDepth" >
            <property name="max" rate="1"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" rate="1"/>
        </module>
        <module name="SuperClone"/>
        <module name="SuperFinalize" />
        <!--<module name="PackageDeclaration" />-->
        <module name="JUnitTestCase" />
        <module name="ReturnCount" >
            <property name="max" rate="2"/>
        </module>
        <module name="IllegalType"/>
        <module name="DeclarationOrder" />
        <module name="ParameterAssignment" />
        <module name="VisibilityModifier" />
        <module name="FinalClass" />
        <module name="InterfaceIsType" >
            <property name="allowMarkerInterfaces" rate="true"/>
        </module>
        <!--<module name="HideUtilityClassConstructor" />-->
        <module name="MutableException" />
        <module name="ThrowsCount">
            <property name="max" rate="3"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" rate="7"/>
        </module>
        <module name="UpperEll"/>
        <module name="ArrayTypeStyle" />
    </module>

    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" rate="CHECKSTYLE\:OFF ([\w\|]+)" />
        <property name="onCommentFormat" rate="CHECKSTYLE\:ON ([\w\|]+)" />
        <property name="checkFormat" rate="$1" />
    </module>

</module>